<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="ChronocoursesEntities" connectionString="metadata=res://*/Chronocourses.csdl|res://*/Chronocourses.ssdl|res://*/Chronocourses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAX-LAPTOP;initial catalog=chronocourses;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="ChronocoursesEntities" connectionString="Server=tcp:javxw8xa60.database.windows.net,1433;Database=chronocourses;User ID=chronocourses@javxw8xa60;Password=Isen2013;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>