<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibliothèque du service, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration pour les bibliothèques. -->
  <system.serviceModel>
    <services>
      <service name="Chronocourses.Services.ProductService">
        <endpoint address="" binding="basicHttpBinding" contract="Chronocourses.Services.IProductService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/ProductService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Chronocourses.Services.EntityService">
        <endpoint address="" binding="basicHttpBinding" contract="Chronocourses.Services.IEntityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/EntityService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Chronocourses.Services.General">
        <endpoint address="" binding="basicHttpBinding" contract="Chronocourses.Services.IGeneral">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/General/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Chronocourses.Services.BrandService">
        <endpoint address="" binding="basicHttpBinding" contract="Chronocourses.Services.IBrandService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/BrandService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Chronocourses.Services.ShopService">
        <endpoint address="" binding="basicHttpBinding" contract="Chronocourses.Services.IShopService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/ShopService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Chronocourses.Services.TypeProductService">
        <endpoint address="" binding="basicHttpBinding" contract="Chronocourses.Services.ITypeProductService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/TypeProductService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation des informations sur les métadonnées, 
          définissez la valeur ci-dessous sur false et supprimez le point de terminaison des métadonnées ci-dessus avant le déploiement -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- Pour recevoir les détails d'exception des erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Définissez-la sur false avant le déploiement 
          pour éviter la divulgation des informations d'exception -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="ChronocoursesEntities" connectionString="metadata=res://*/Chronocourses.csdl|res://*/Chronocourses.ssdl|res://*/Chronocourses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=chronocourses;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
