<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ChronocoursesEntities" connectionString="metadata=res://*/Chronocourses.csdl|res://*/Chronocourses.ssdl|res://*/Chronocourses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=chronocourses;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBrandService" />
        <binding name="BasicHttpBinding_IProductService" />
        <binding name="BasicHttpBinding_ITypeProductService" />
        <binding name="BasicHttpBinding_IProductService1" />
        <binding name="BasicHttpBinding_IEntityService" />
        <binding name="BasicHttpBinding_IShopService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/BrandService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrandService"
        contract="BrandService.IBrandService" name="BasicHttpBinding_IBrandService" />
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/TypeProductService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITypeProductService"
        contract="TypeProductService.ITypeProductService" name="BasicHttpBinding_ITypeProductService" />
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/ProductService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
        contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/EntityService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityService"
        contract="EntityService.IEntityService" name="BasicHttpBinding_IEntityService" />
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Chronocourses.Services/ShopService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShopService"
        contract="ShopService.IShopService" name="BasicHttpBinding_IShopService" />
    </client>
  </system.serviceModel>
</configuration>